# 1

### 1-1

In [123]:
L=[1, 2, 3, 4, 5]
L[1:3] = [100]
print(L)

[1, 100, 4, 5]

#### L[1:3]이 리스트 L에 2,3이 있는 위치인데 거기에다가 리스트 [100]을 넣으니 2,3의 위치에 100이 들어갔다.

### 1-2

In [12]:
L=[1, 2, 3, 4, 5]
L[1:3] = [(100)]
print(L)

[1, 100, 4, 5]

#### 1-1 에 ()만 추가되었는데 ()는 연산자처럼 처리되기에 같은 결과값을 가져왔다.

### 1-3

In [124]:
L=[1, 2, 3, 4, 5]
L[1:3] = 100### 1-2
print(L)

TypeError: can only assign an iterable

#### 1-1와 같이 리스트에 값은 리스트 형태로 삽입해야하는데 정수 형태로 삽입하여 문제가 발생하였다.

### 1-4

In [14]:
L=[1, 2, 3, 4, 5]
L[1:3] = (100)
print(L)

TypeError: can only assign an iterable

#### 1-3 과 같은 이유로, 입력 값으로 리스트 형태를 삽입해야하는데 정수 형태로 삽입하였다.

### 1-5

In [125]:
L=[1, 2, 3, 4, 5]
L[1:3] = (100, 101, 102)
print(L)

[1, 100, 101, 102, 4, 5]

#### 리스트에 튜플형을 넣었는데 튜플형이 값을 넣은후에 각 항목의 값을 바꿀 수 있는 것을 보아 값이 들어가기전에 리스트형으로 변형이 되어서 들어갔다.

### 1-6

In [18]:
L=[1, 2, 3, 4, 5]
L[1:3] = [100, 101, 102]
print(L)

[1, 100, 101, 102, 4, 5]

#### L의 2, 3이 있는 위치에 [100,101,102]를 넣는데 결과 값을 보기전에는 오류가 생길 것을 예상했으나 넣는 값이 들어갈 위치의 크기보다 커도 자리를 추가해서 뒤에 값들을 뒤로 미루고 삽입 되는 것 같다.

### 1-7

In [19]:
L=[1, 2, 3, 4, 5]
L[1:3] = [(100, 101, 102)]
print(L)

[1, (100, 101, 102), 4, 5]

#### L의 위치 2,3이 있는 위치에 튜플형 (100, 101, 102)을 넣어서 아래와 같은 결과가 나온다.

### 1-8

In [20]:
L=[1, 2, 3, 4, 5]
L[1:3] = [[100, 101, 102]]
print(L)

[1, [100, 101, 102], 4, 5]

#### L의 위치 2,3이 있는 위치에 리스트 형 [100, 101, 102]을 넣어서 아래와 같은 결과가 나온다.

# 2

In [32]:
# 2-1
S='Hello World and Python'
S1=S.split()
S1.reverse()
S1=' '.join(S1)
print(S1)

# 2-2
S1=S1.split()
S1=''.join(S1)
print(S1)

Python and World Hello
PythonandWorldHello

#### 2-1 split 함수를 이용해 분리 후에 reverse를 이용해서 뒤집었고, join을 이용해 합쳤다. 
#### 2-2는 2-1의 값에서 split을 통해 분리를 하고 join을 통해 띄어쓰기 없이 합쳤다.

# 3

In [127]:
a = [1, 2, 3]
b = a * 3
c = [a] * 3

a[0]=0
print(b)
print(c)

[1, 2, 3, 1, 2, 3, 1, 2, 3]
[[0, 2, 3], [0, 2, 3], [0, 2, 3]]

#### b는 a 리스트를 복사해서 가져와 쓰기 때문에 a 리스트의 값을 바꿔주어도 변화가 없고 c는 a 리스트를 가르키고있기 때문에 a리스트가 바뀌면 변화된 값을 받아드린다.
#### 또 b는 a 리스트를 3개를 그대로  b리스트에 3번 복사하여 넣어주어서 인덱스가 9개인 리스트가 되었고, c는 a 리스트를 하나로 리스트로 다시 묶어서 3개의 인덱스를 가지고 있는 하나의 리스트로 만들고, 그것을 3번 복사하여 3개의 인덱스를 들고있는 리스트가 3개 만들어졌다.

# 4

### 4-1

In [131]:
s = '  first star   :   second star   :    third star  '
s1=s.split(":")
s2=[]
for i in range(len(s1)):
    s2.append(s1[i].strip())
print(s2)

['first star', 'second star', 'third star']

#### split을 통해 :을 기준으로 분리를 해주고 반복문안에서 strip과 append 이용해서 양쪽에 빈칸을 없애주고, s2에 값을 넣어주었다.

### 4-2

In [132]:
s = '  first star   :   second star   :    third star  '
s1=s.split(":")
s2=[]
s2=[s1[i].strip() for i in range(len(s1))]
print(s2)

['first star', 'second star', 'third star']

#### split을 통해 :을 기준으로 분리를 해주고 리스트 내포와 strip을 이용해서 양쪽에 빈칸을 없애주었다.

# 5

### 5-1

In [61]:
def addall(a):
    print(sum([i for i in a]))

def addallodd(a):
    print(sum([i for i in a if i%2==1]))
    
addall([1, 2, 3, 4, 5, 6, 7, 8, 9])
addallodd([1, 2, 3, 4, 5, 6, 7, 8, 9])

45
25

#### 리스트 내포방식을 이용해서 addall과 addallodd를 나타내었다

### 5-2

In [63]:
def addall(a):
    sum=0
    for i in a:
        sum+=i
    print(sum)

def addallodd(a):
    sum=0
    for i in a:
        if(i%2==1):
            sum+=i
    print(sum)

    
addall([1, 2, 3, 4, 5, 6, 7, 8, 9])
addallodd([1, 2, 3, 4, 5, 6, 7, 8, 9])

45
25

#### for in 리터럴 방식을 이용해서 addall과 addallodd를 나타내었다

# 6

In [71]:
# 6

L1 = [1, 2, 3]
L2 = [4, 5, 6]
d = {'low':L1, 'high':L2}
e = d
f = d.copy()
print(id(e['low']))
print(id(f['low']))
print(d)
print(e)
print(f)
print()
d['low'] = [10, 20, 30]
d['high'][1] = 500
print(id(e['low']))
print(id(f['low']))
print(d)
print(e)
print(f)

140584501993920
140584501993920
{'low': [1, 2, 3], 'high': [4, 5, 6]}
{'low': [1, 2, 3], 'high': [4, 5, 6]}
{'low': [1, 2, 3], 'high': [4, 5, 6]}

140584502063040
140584501993920
{'low': [10, 20, 30], 'high': [4, 500, 6]}
{'low': [10, 20, 30], 'high': [4, 500, 6]}
{'low': [1, 2, 3], 'high': [4, 500, 6]}

#### 1) e = d 이 코드로 인해 e가 d가 가르키고 있는 방향을 똑같이 가르키게 되었기 때문이다.
#### 2) f는 e와 다르게 깊은 복사가 아닌 얕은 복사를 해서 같은 곳을 가르키기 보다는 값만 복사해와서 다른 위치의 값을 가르켰다. d['low'] = [10, 20, 30] 이렇게 새로운 리스트를 넣어주게 되면  low가 가르키는 key의 위치가 L1에서 다른 곳으로 달라지기에 다른 곳을 가르키는 f는 계속해서 L1을 가르키기에 f는 값이 바뀌지 않는다 또 d['high'][1] = 500은 low가 가르키는 key의 위치(L1)가 달라지는 것이 아닌 값만 달라지기에 L1을 가르키는 f의 값도 바뀐다.

# 7

In [120]:
d = {'one':1, 'two':2, 'three':3, 'four':4, 'five':5}
print(sorted(d.items()))
print(sorted(d.items(),reverse=True))

print(sorted(d.items(),key=lambda x: x[1]))
print(sorted(d.items(),key=lambda x: x[1],reverse=True))

[('five', 5), ('four', 4), ('one', 1), ('three', 3), ('two', 2)]
[('two', 2), ('three', 3), ('one', 1), ('four', 4), ('five', 5)]
[('one', 1), ('two', 2), ('three', 3), ('four', 4), ('five', 5)]
[('five', 5), ('four', 4), ('three', 3), ('two', 2), ('one', 1)]

#### 키의 알파벳 오름차순과 내림차순은 sorted 함수와 reverse를 이용하여 나타내었다.값의 오름차수 내림차순은 위에 방식에서 람다 방식을 추가하여 나타내었다.

# 8

In [105]:
def length(x):
    num=1
    while(True):
        if(x/10<1): 
            return num
        else:
            num+=1
            x=x/10

def isStrange(num):
    if(0<=num<10): return True
    elif(length(num)>1):
        if(num%length(num)==0):
            if(isStrange(num/length(num))!=True): return False
        else: return False
    return True

        
print(isStrange(56))

True

#### 문제에 나오는 대로 각 조건에 대해 if문을 달았고, strange 함수를 다시 불러야 하는 곳에서 재귀함수를 이용하여 나타내었다. length는 코드를 더 깔끔하게 보일 수 있게 따로 함수를 만들어서 나타내었다.

# 9

In [121]:
def solve(a):
    
    num=sum(a)
    
    big=0
    for i in a: 
        if(i>big): big=i 
            
    find=[i for i in range(1, num+1) if num % i == 0 if i>=big]
    
    for i in find:
        find2=i
        for i2 in a:
            find2-=i2
            if(find2<0):
                find.remove[i]
                break
            elif(find2==0): find2=i
    
    return find

    


a= [1, 2, 1, 1, 1, 2, 1, 3] 
print(solve(a))

[3, 4, 6, 12]

####  예시 1,2번은 해결할 수 있었으나 계산 복잡도가 n 제곱 이다 보니깐 3번은 해결하지 못하였다. a리스트의 값이 같아도 순서를 바꿔면 결과값이 달리지기에 한번 쭉 스캔할 필요가 느껴졌는데 그렇게하다보면 시간 복잡도가 n제곱이 되어서 어떻게 해결할지 방법을 찾지 못하였다.

In [ ]:
# Incremental Project 문제